#Node
node_modules/
.turbo/


# Vite
.vite/

# .NET
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.lscache

# Env
.env
.env.local
.env*.local


.DS_Store

.vs/
.vscode/
